*{
    margin: 0;
    padding: 0;
    font: 14px;
    color: white;
}

.body{
    background-color: rgb(31, 31, 31);
}

body{
    background-color: black;
}
hr{
    margin: 5px 0 5px 0;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border: none;
    height: 2px;
}

.cabecalho{
    background-image: linear-gradient( to bottom, rgb(0, 0, 1),#0F0F0F ); 
}
.header-container{
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-cont-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 0 5px 0 5px;
}

.header-logo{
    height: 80px;
    width: 160px;
    max-height: 120px;
    max-width: 200px;
    min-height: 40px;
    min-width: 80px;
    filter: saturate(1000%);
    filter: brightness(160%);
}

.header-name{
}

.header-log-link{
    background-color: red;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 0, 0);
    padding: 4px;
    border-radius: 2px;
    border-width: 1px;
    text-align: center;
    height: 30px;
}

.header-log-link:hover{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    border-color: white;text-shadow: 1px 1px 4px crimson;
}

.header-access{
    border: none;
    background-color: red;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 60px;
    font-size: 14px;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header-access:hover{
    transition: 0.5s;
    background-color: rgb(118, 11, 11);
}

.header-access:focus{
    border: none;
}

.header-access:active{
    border: none;
}

.list-name{
    margin: 10px 0px -25px 20px;
    font-size: 20px;
}

.list-container{
    list-style: none;

    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 5px 0 5px 0;
}

.list-box{
    margin: 25px 0 25px 0;
}
.banner-img{
    border-radius: 6px;
    width: 200px;
    height: 250;
}

.banner-img:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.banner-legend{
    font-size: 15px;
    text-align: center;
    text-shadow: 1.5px 1.5px 3px black;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-cont-cont{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.footer-lang{
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
    border-width: .5px;
    background-color: rgba(0,0,0,.4);
    height: 40px;
    width: 100px;
    font-size: 1rem;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footer-link{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}