<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="catalogo.component.css">

    <!--Configurações de Media Query-->
  <meta name="viewport" content="width=device-width, inicial-scale=1.0" />
    <title>Catálogo</title>
</head>
<body class="escopo">
    <router-outlet>
    <div class="meta-query">
    <header class="header">
        <div class="header-content">
            <div class="header-sub-content"><img src="http://localhost:4200/assets/logo-netflix.png" alt="" class="logo"></div>
            <div class="header-sub-content">
                <nav class="header-nav">
                    <div class="header-divisor">
                        <button class="header-nav-btn-l">Início</button>
                        <button class="header-nav-btn-l">Séries</button>
                        <button class="header-nav-btn-l">Filmes</button>
                    </div>
                    <div class="header-divisor">
                        <button class="header-nav-btn-l">Bombando</button>
                        <button class="header-nav-btn-l">Minha lista</button>
                        <button class="header-nav-btn-l">Navegar por idiomas</button>
                    </div>
                    <div class="header-nav-sub">
                        <div class="header-divisor-btn">
                            <button class="header-nav-btn-r"><img class="header-btn-icon"
                                src="https://cdn-icons-png.flaticon.com/128/169/169190.png" alt="">Pesquisar </button>
                                <button class="header-nav-btn-r"><img class="header-btn-icon" src="https://cdn-icons-png.flaticon.com/128/4646/4646663.png" alt="">Infantil</button>
                        </div>
                        <div class="header-divisor-btn">
                                <button class="header-nav-btn-r"><img class="header-btn-icon"
                                src="https://cdn-icons-png.flaticon.com/128/3541/3541850.png" alt="">Notificações</button>
                                <button class="header-nav-btn-r" routerLink="/"><img class="header-btn-icon"
                                src="https://cdn-icons-png.flaticon.com/128/706/706830.png" alt="">Perfil</button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class="maim">
        <div class="main-content">
            <div class="row-content">
                <h3 class="list-name"><b>Populares na Netflix</b></h3>
                <ul class="list-container">
                    <li class="list-box">
                    <li class="list-box" *ngFor="let film of film_popular">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>
                   
                </ul>
            </div>
            <div class="row-content">
                <h3 class="list-name"><b>Dramas coreanos</b></h3>
                <ul class="list-container">
                    <li class="list-box" *ngFor="let film of film_dorama">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>
                </ul>
            </div>
            <div class="row-content">
                <h3 class="list-name"><b>Séries para Maratonar</b></h3>
                <ul class="list-container">
                    <li class="list-box" *ngFor="let film of film_marathon">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <ul class="container-sm-list" style="list-style: none;">
                <li class="footer-sm-list" *ngFor="let media of social_medias">
                    <a class="sm-link" [href]="media.link_btn"><img class="sm-img" alt="" [src]="media.img_btn"></a>
                    <h5 class="footer-sm-name">{{media.name_btn}}</h5>
                </li>
            </ul>
            <nav class="footer-nav-link">
                <div class="footer-nav-list">
                    <a class="footer-final-link" href="#">Audiodescrição</a>
                    <a class="footer-final-link" routerLink="/freq-ques">Central de Ajuda</a>
                    <a class="footer-final-link" href="#">Cartão pré-pago</a>
                    <a class="footer-final-link" href="#">Imprensa</a>
                </div>
                <div class="footer-nav-list">
                    <a class="footer-final-link" routerLink="/investors">Relações com investidores</a>
                    <a class="footer-final-link" href="#">Carreiras</a>
                    <a class="footer-final-link" href="#">Termos de Uso</a>
                    <a class="footer-final-link" href="#">Privacidade</a></div>
                <div class="footer-nav-list">
                    <a class="footer-final-link" href="#">Avisos</a>
                    <a class="footer-final-link" href="#">Preferências de cookie</a>
                    <a class="footer-final-link" href="#">Informações</a>
                    <a class="footer-final-link" href="#">Entre em contato</a>
                </div>
            </nav>
        </div>
    </footer>
    </div>
</router-outlet>
</body>
</html>