<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="original.component.css">
    <title>Originais da Netflix</title>
</head>
<body class="body">
    <div class="escopo">
<router-outlet>
    <header class="cabecalho">
        <div class="header-container">
            <div class="header-cont-cont">
                <img src="http://localhost:4200/assets/logo-netflix.png" class="header-logo" alt="logo-netflix">
            </div>
            <div class="header-cont-cont">
                <button type="button" class="header-log-link" routerLink="/">
                    Entrar</button>
            </div>
        </div>
    </header>
    <main class="maim">
        <div class="main-content">
            <div class="row-content">
                <h3 class="list-name"><b>Populares na Netflix</b></h3>
                <ul class="list-container">
                    <li class="list-box" *ngFor="let film of film_popular">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>                   
                </ul>
            </div>
            <div class="row-content">
                <h3 class="list-name"><b>Dramas coreanos</b></h3>
                <ul class="list-container">
                    <li class="list-box" *ngFor="let film of film_dorama">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>
                </ul>
            </div>
            <div class="row-content">
                <h3 class="list-name"><b>Séries para Maratonar</b></h3>
                <ul class="list-container">
                    <li class="list-box" *ngFor="let film of film_marathon">
                        <img class="banner-img" [src]="film.banner" alt="">
                        <legend class="banner-legend">{{film.title}}</legend>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer class="rodape">
        <div class="footer-container">
            <div class="footer-cont-cont">
                <button class="footer-lang"><b>Português</b></button>
            </div>
            <div class="footer-cont-cont">
                <a class="footer-link" routerLink="/original">Termo de uso</a>
                <a class="footer-link" routerLink="/original">Privacidade</a>
                <a class="footer-link" routerLink="/original">Preferências de cookie</a>
                <a class="footer-link" routerLink="/info-corp">Informações corporativas</a>
            </div>
        </div>
    </footer>
</router-outlet>