*{
    margin: 0;
    padding: 0;
    font: 14px;
    color: white;
}

.body{
    background-color: rgb(31, 31, 31);
}

body{
    background-color: black;
}
hr{
    margin: 5px 0 5px 0;
    background-color: white;
    height: 2px;
}

.header-container{
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.header-cont-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 0 5px 0 5px;
}

.header-logo{
    height: 80px;
    width: 160px;
    max-height: 120px;
    max-width: 200px;
    min-height: 40px;
    min-width: 80px;
    filter: saturate(1000%);
    filter: brightness(160%);
}

.header-name{
}

.header-log-link{
    text-decoration: none;
    color: gray;
    border-style: solid;
    border-color: gray;
    padding: 4px;
    border-radius: 2px;
    border-width: 1px;
    text-align: center;
    height: 30px;
}

.header-log-link:hover{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    border-color: white;text-shadow: 1px 1px 4px crimson;
}

.header-access{
    border: none;
    background-color: red;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 60px;
    font-size: 14px;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header-access:hover{
    transition: 0.5s;
    background-color: rgb(118, 11, 11);
}

.header-access:focus{
    border: none;
}

.header-access:active{
    border: none;
}

.main-title{
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px 10px white;
    text-align: center;
    margin: 2% 70% 5% 5%;
    border: solid;
    border-width: 1px;
    /*box-shadow: 3px -5px 2px white;*/
}

.main-title:hover{
    transition: 0.5s;
    box-shadow:
    1px 1px rgb(255, 255, 255),
    2px 2px #ffffff,
    3px 3px #ffffff;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    border-color: rgb(72, 72, 72);
    background-color: rgba(28, 28, 28, 0.283);
}

.main-container{
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

.main-cont1{
    background-color: #221F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    
}
.main-cont-cont1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 2px 0 0;
    border-top: red;
    border-right: red;
    border-style: solid;
    border-left: none;
    border-bottom: none;
}

.main-c1-sub{
    font-size: 12px;
}

.main-c1-texter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px;
}

.main-c1-texter{
    font-size: 20px;
}

.main-cont2{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-cont-cont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-c2-title{
    text-decoration: underline red;
}
.main-c2-scrn{
    padding: 1%;
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 2px 2px white;
}

.main-c2-sub{
}

.main-c2-content{
}

.main-c2-list{
    list-style: none;
}

.main-c2-lili:hover{
    transition: 0.5s;
    color: red;
}

.main-cont-cont3{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.main-c3-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.main-c3-box{
    background-color: white;
    margin: 0 2% 0 2%;
    padding: 1px;
}

.main-c3-sub{
    color: black;
}
.main-c3-sub:hover{
    transition: 0.5s;
    color: red;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer-cont-cont{
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.footer-lang{
    margin-top: 20px;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
    border-width: .5px;
    background-color: rgba(0,0,0,.4);
    height: 40px;
    width: 100px;
    font-size: 1rem;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footer-link{
    text-decoration: none;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}