<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="info-corp.component.css">

    <title>Informações corporativas</title>
</head>
<body class="body">
    <div class="escopo">
<router-outlet>
    <header class="cabecalho">
        <div class="header-container">
            <div class="header-cont-cont">
                <img src="http://localhost:4200/assets/logo-netflix.png" class="header-logo" alt="logo-netflix">
                
                <h4 class="header-title">| Centro de ajuda</h4>
            </div>
            <div class="header-cont-cont">
                <button type="button" class="header-log-link" routerLink="/">
                    Entrar</button>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main-content">
            <h1 class="main-title">Informações corporativas da Netflix</h1>
            <h5 class="main-sub">A Netflix tem assinantes em muitos países. A entidade Netflix que fornece o acesso ao serviço Netflix varia conforme o país onde a assinatura foi iniciada e será exibida no email de confirmação de assinatura ou pagamento. As entidades Netflix qualificadas como suas controladoras de dados constam na sua Declaração de privacidade local.</h5>
            <div class="main-box">
            <div class="main-txts">
                <b>Netflix, Inc.</b>
                100 Winchester Circle
                Los Gatos, CA 95032, USA
            </div>
            <div class="main-txts"><b>Netflix International B.V.</b>
                Karperstraat 8-10
                1075 KZ Amsterdam, the Netherlands
                KvK: 62266519
                VAT: NL853746333B01
                Capital social: 12.500 euros</div>
            <div class="main-txts"><b>Netflix Entretenimento Brasil, Ltda.</b>
                Alameda Xingu, 350 – 14º andar - Alphaville Industrial
                Barueri, CEP 06455-911 – SP – Brasil
                CNPJ: 13.590.585/0002-70</div>
            <div class="main-txts"><b>Netflix Entertainment Services India LLP</b>
                Level 11, Godrej BKC, Plot C-68
                G Block, BKC- Bandra (East)
                Mumbai 400051, India</div>
            <div class="main-txts"><b>Netflix G.K.</b>
                Tokyo Midtown East 3F
                9-7-2 Akasaka
                Minato-ku
                Tokyo 107-0052 Japan</div>
            <div class="main-txts"><b>Netflix Services Korea Ltd.</b>
                20F, Tower A, Centropolis Building
                26, Ujeongguk-ro, Jongno-gu, Seoul, 03161, Republic of Korea</div>
            <div class="main-txts"><b>Netflix Services UK Limited</b>
                100 New Bridge Street, London, EC4V 6JA
                Nº da empresa (registro): 9091899
                Nº de registro de imposto de renda: 623 25810 01805 A</div>
            <div class="main-txts"><b>Netflix Pte. Ltd.</b>
                9 Straits View, Marina One West Tower #14-07/12, Singapore 018937
                Nº do ID de registro 201531197W</div>
            <div class="main-txts"><b>Netflix Services France S.A.S.</b>
                11 Place Édouard VII, 75009 Paris, France
                Número da empresa: 843 655 549 RCS Paris</div>
            <div class="main-txts"><b>Netflix Servicios de Transmisión España, S.L.</b>
                Paseo de la Castellana 89, 28046 Madrid, Spain
                Nº IVA/NIF B88182514</div>
            <div class="main-txts"><b>Netflix México S. de R.L. de C.V.</b>
                Paseo de la Reforma 483, Piso 37, Col. Cuauhtémoc, Cuauhtémoc, CDMX, CP 06500
                Nº registro: 112483
                RFC (ID fiscal): NME110513P13</div>
            <div class="main-txts"><b>Netflix Australia Pty Ltd</b>
                Level 19, 181 William Street
                Melbourne VIC 3000, Australia</div>
            <div class="main-txts"><b>Netflix Services Germany GmbH</b>
                Friedrichstraße 88
                10117, Berlin, Germany</div>
            <div class="main-txts"><b>Netflix Services Germany GmbH</b>
                Friedrichstraße 88
                10117, Berlin, Germany</div>
            <div class="main-txts"><b>Netflix Services Canada ULC</b>
                1200 Waterfront Centre, 200 Burrard St
                Vancouver BC V7X 1T2, Canada</div>
            </div>
        </div>
    </main>
    <footer class="rodape">
        <div class="footer-container">
            <div class="footer-cont-cont">
                <button class="footer-lang">Português</button>
            </div>
            <div class="footer-cont-cont">
                <a class="footer-link" routerLink="/">Termo de uso</a>
                <a class="footer-link" routerLink="/">Privacidade</a>
                <a class="footer-link" routerLink="/">Preferências de cookie</a>
                <a class="footer-link" routerLink="/">Informações corporativas</a>
            </div>
        </div>
    </footer>
</router-outlet>